/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: "Roboto";
    src: url("./assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf") format("truetype");
}

:root {
    body {
        font-family: "Roboto";
        font-size: 0.9em;
    }
}