<div class="row justify-content-center matrix-border">
    <div class="countdown">24h:59m:59s</div>
    <div class="col-11 p-5  m-3">
        <div class="row">
            <div class="col text-center  glow-green">
                <h5>Les guerres sont-elles provoquées pour bénéficier à l'industrie de l'armement ?</h5>
                <img src="../../assets/question3.png" alt="?">
            </div>
        </div>
    </div>

</div>


<div class="row  mt-2 matrix-border-chat">
    <app-chat></app-chat>
</div>